h1 {
  padding: 20px;
  text-align: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 450px));
  grid-auto-rows: 250px;
  grid-gap: 5px;
}

.grid-item {
  border: 2px solid black;
  background-color: beige;
}

.grid-item.row {
  grid-column: 1 / -1;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}